<h1><%= @category.name %></h1>

<p><%= @category.description %></p>

<table>
  <thead>
    <tr><th>Title</th><th>Original Author</th><th>Last Commenter</th></tr>
  </thead>
  <tbody>
    <% @threads.each do |thread| %>
      <tr><td><%= link_to thread.title, "/forums/#{@category.id}/#{thread.id}" %></td><td><%= thread.user.username %></td><td></td></tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'Create Thread', "/forums/#{@category.id}/new" %>
