<h1>Forums</h1>
<table>
  <thead>
    <tr><th>Category</th><th>Threads</th><th>Posts</th><th>Last Post</th></tr>
  </thead>
  <tbody>
  <% @categories.each do |category| %>
    <tr>
      <td><h2><%= link_to category.name, "/forums/#{category.id}" %></h2><p><%= category.description %></p></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
  <% end %>
</tbody>
