<table>
  <tbody>
    <% @posts.each do |post| %>
      <tr><td><%= post.user.username %></td><td><%= post.title %></td><td><%= post.body %></td><td></td></tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'Reply', "/forums/#{@category.id}/#{@thread.id}/reply" %>
