<p id="notice"><%= notice %></p>

<h1>Listing Forum Categories</h1>

<table>
  <thead>
    <tr>
      <th colspan="4"></th>
    </tr>
  </thead>

  <tbody>
    <% @forum_categories.each do |forum_category| %>
      <tr>
        <td><%= forum_category.name %></td>
        <td><%= link_to 'Show', forum_category %></td>
        <td><%= link_to 'Edit', edit_forum_category_path(forum_category) %></td>
        <td><%= link_to 'Destroy', forum_category, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Forum category', new_forum_category_path %>
