<nav class="top-bar" data-topbar role="navigation">
  <ul class="title-area">
    <li class="name">
      <h1><li><%= link_to "The Lantern Watch", root_path %></li></h1>
    </li>
  </ul>
  <section class="top-bar-section">
    <ul class="left">
      <% if user_signed_in? %>
        <li><%= link_to 'Forums', '/forums' %></li>
      <% end %>
    </ul>
  </section>
  <section class="top-bar-section">
    <ul class="right">
      <% if user_signed_in? %>
        <li><%= link_to 'Edit account', edit_user_registration_path %></li>
        <li><%= link_to 'Sign out', destroy_user_session_path, :method=>'delete' %></li>
      <% else %>
        <li><%= link_to 'Sign in', new_user_session_path %></li>
        <li><%= link_to 'Sign up', new_user_registration_path %></li>
      <% end %>
      <% if user_signed_in? %>
        <li><%= link_to 'Users', users_path %></li>
      <% end %>
    </ul>
  </section>
</nav>
