<%= form_for(@forum_post) do |f| %>
  <% if @forum_post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@forum_post.errors.count, "error") %> prohibited this forum_post from being saved:</h2>

      <ul>
      <% @forum_post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :body %><br>
    <%= f.text_area :body %>
  </div>
  <%= hidden_field( :forum_post, :user_id ) %>
  <%= hidden_field( :forum_post, :thread_id ) %>
  <%= hidden_field( :forum_post, :category_id ) %>
  <%= hidden_field( :forum_post, :original_post ) %>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
