<p id="notice"><%= notice %></p>

<h1>Listing Forum Posts</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Author</th>
      <th>Thread</th>
      <th>Body</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @forum_posts.each do |forum_post| %>
      <tr>
        <td><%= forum_post.title %></td>
        <td><%= forum_post.user_id %></td>
        <td><%= forum_post.thread_id %></td>
        <td><%= forum_post.body %></td>
        <td><%= link_to 'Show', forum_post %></td>
        <td><%= link_to 'Edit', edit_forum_post_path(forum_post) %></td>
        <td><%= link_to 'Destroy', forum_post, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Forum post', new_forum_post_path %>
